<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="AppInsight-InstrumentationKey" value="8f3a733a-1497-4a23-b43d-51f868aa66e2" />
    <add key="LogError" value="true" />
    <add key="LogInfo" value="true" />
    <add key="LogWarning" value="true" />
    <add key="LogTrack" value="true" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILogger" type="rsoni.LogManager.ILogger, rsoni.LogManager" />
    <alias alias="AppInsightLogger" type="rsoni.LogManager.AppInsightLogger, rsoni.LogManager" />
    <alias alias="FileLogger" type="rsoni.LogManager.FileLogger, rsoni.LogManager" />
    <alias alias="CSVLogger" type="rsoni.LogManager.CSVLogger, rsoni.LogManager" />
    <assembly name="rsoni.LogManager.Test" />
    <namespace name="rsoni.LogManager.Test" />
    <containers>
      <container name="Others">
        <register name="alogger" type="ILogger" mapTo="AppInsightLogger">
          <lifetime type="singleton" />
          <constructor>
            <param name="instrumentationKey" value="aaaaa" />
            <param name="logError" value="true" />
            <param name="logInfo" value="true" />
            <param name="logWarning" value="true" />
            <param name="logTrack" value="true" />
          </constructor>
        </register>
        <register name="flogger" type="ILogger" mapTo="FileLogger">
          <lifetime type="singleton" />
          <constructor>
            <param name="logName" value="Testlog" />
          </constructor>
        </register>
        <register name="clogger" type="ILogger" mapTo="CSVLogger">
          <lifetime type="singleton" />
          <constructor>
            <param name="logName" value="Testlog" />
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.3.0" newVersion="5.10.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>