<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppInsight-InstrumentationKey" value="8f3a733a-1497-4a23-b43d-51f868aa66e2" />
    <add key="LogError" value="true" />
    <add key="LogInfo" value="true" />
    <add key="LogWarning" value="true" />
    <add key="LogTrack" value="true" />
  </appSettings>
</configuration>